# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.db
*.sqlite3
*.db-journal

# Node / Frontend artifacts
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vercel & Render
.vercel/
